<nav class="navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
            <a href="#" style="color:white;"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@universh.com</a>
        </li>&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
            <a style="color:white;"><i class="fa fa-phone" aria-hidden="true"></i> (568)456-7890</a>
        </li>
        <div class="nav-item" style="float: right;margin-left: 700px;">
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-pinterest"></a>
            <a href="#" class="fa fa-rss"></a>
            
          
        </div>
      </ul>
      
    </div>
  </nav>